@use "sass:map";
@import "Styles/Pages/_theme.scss";

.registPage {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(168, 199, 250), rgb(0, 241, 255));

    input {
        border: none;
        font-size: 18px;

        &:focus {
            outline: none;
        }
    }

    .registform {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 15px;
        border: 1px solid #000;

        h1 {
            padding: 10px;
            margin-bottom: 20px;
        }

        .input {
            padding: 5px;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }
        form {
            .widget {
                div{
                    margin-top:15px;
                }
                span {
                    visibility:hidden;
                    color: map.get($theme-colors,"main");
                }
            }
        }
    }
    .btn-regist{
        display:flex;
        justify-content:center;

        button{
            padding:10px 50px;
            margin:20px 0;
            border:1px solid rgba(0,0,0,0.2);
            border-radius:15px;
            background:map.get($theme-colors,"main");
            color:#FFF;
            text-transform:uppercase;
        }
    }
    .btn-login{
        display:flex;
        justify-content:center;
        align-items:center;

        span{
            padding:10px;
            cursor:pointer;
        }
    }
}
